.DS_Store
*.xcuserstate
**/xcuserdata/
DerivedData/
build/
*.xcworkspacedata
*.pbxuser
*.perspectivev3
*.moved-aside
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
.swiftpm
.build
Package.resolved
